.black-div {
  background-color: black;
}
#div-container {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}
.hidden {
  background-color: black;
}
.show {
  background-color: black;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
}
